<p-panel header="Custom Pipes" class="p-1">
  <p>
    Created pipes by the {{ "user" | toggleCase : isUpperCase }} - these pipes
    can be created and defined by the user to transform data however they need.
    A new .ts file is created with the keyword "pipe" and it is decorated with
    &#64;Pipe. The functionality is defined through the method "transform()".
    The custom pipe has to be declared in the relevant module.
  </p>
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button
      (onClick)="toggleCase()"
      icon="pi pi-search"
      label="Toggle Case"
    />
  </div>
  <div class="p-toolbar-group-end">
    <p-button (onClick)="changeOrder('name')" label="By Name" class="mr-2" icon="pi pi-sort" />
    <p-button (onClick)="changeOrder('canFly')" label="By Ability" class="mr-2" icon="pi pi-sort" />
    <p-button (onClick)="changeOrder('color')" label="By Color" class="mr-2" icon="pi pi-sort" />
  </div>
</p-toolbar>

<div class="grid">
  <div class="col mt-2">
    <p-table [value]="hero | sortBy: sortValue" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Can Fly</th>
          <th>Color</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-hero>
        <tr>
          <td>{{ hero.name }}</td>
          <td>{{ hero.canFly | canFly }}</td>
          <td>{{ hero.color }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
