<p-panel header="Basic Pipes" class="p-1">
  <p>
    Included Pipes in Angular - Usually in Common Module
  </p>
</p-panel>

<div class="grid mt-2">
  <div class="col-12 md:col-6 lg:col-3">
    <p-card header="uppercase pipe">
      {{upperName}} | uppercase -> {{upperName | uppercase}}
    </p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <p-card header="lowercase pipe">
      {{lowerName}} | lowercase -> {{lowerName | lowercase}}
    </p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <p-card header="titlecase pipe">
      {{titleName}} | titlecase -> {{titleName | titlecase}}
    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="Date pipes">

      <ol>
        <li> myDate </li>
        <li> myDate | date </li>
        <li> myDate | date:'short' </li>
        <li> myDate | date:'long' </li>
        <li> myDate | date:'MMMM' </li>
        <li> myDate | date:'MMMM dd, yyyy' </li>
      </ol>

      <hr>
      <ol>
        <li> myDate | date:'long':'GMT-6' </li>
        <li> myDate | date:'long':'GMT-4' </li>
        <li> myDate | date:'long':'':'es-MX' </li>
      </ol>

    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="Result">

      <ol>
        <li> {{ customDate }} </li>
        <li> {{ customDate | date }} </li>
        <li> {{ customDate | date:'short' }} </li>
        <li> {{ customDate | date:'long' }} </li>
        <li> {{ customDate | date:'MMMM' }} </li>
        <li> {{ customDate | date:'MMMM dd, yyyy' }} </li>
      </ol>

      <hr>
      <ol>
        <li> {{ customDate | date:'long' : "GMT-6" }} </li>
        <li> {{ customDate | date:'long':'GMT-4' }} </li>
        <li> {{ customDate | date:'long':'':'es-MX' }} </li>
      </ol>

    </p-card>
  </div>

</div>
